@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 173 80% 9%;

    --muted: 173 20% 92%;
    --muted-foreground: 173 30% 30%;

    --popover: 0 0% 100%;
    --popover-foreground: 173 80% 9%;

    --card: 0 0% 100%;
    --card-foreground: 173 80% 9%;

    --border: 173 20% 88%;
    --input: 173 20% 88%;

    --primary: 173 80% 36%;
    --primary-foreground: 0 0% 100%;

    --secondary: 173 20% 92%;
    --secondary-foreground: 173 80% 24%;

    --accent: 173 60% 94%;
    --accent-foreground: 173 80% 24%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --ring: 173 60% 50%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 173 80% 9%;
    --foreground: 173 10% 98%;

    --muted: 173 50% 15%;
    --muted-foreground: 173 30% 70%;

    --popover: 173 80% 9%;
    --popover-foreground: 173 10% 98%;

    --card: 173 80% 9%;
    --card-foreground: 173 10% 98%;

    --border: 173 50% 15%;
    --input: 173 50% 15%;

    --primary: 173 80% 36%;
    --primary-foreground: 0 0% 100%;

    --secondary: 173 50% 15%;
    --secondary-foreground: 173 10% 98%;

    --accent: 173 50% 22%;
    --accent-foreground: 173 10% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;

    --ring: 173 60% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased font-sans;
    margin: 0;
  }
}

/* Estilos personalizados */
@layer components {
  .container {
    @apply p-8 md:p-4;
  }
}

/* Ajustes de espaçamento */
.container {
  padding: 2rem;
}

/* Ajustes de responsividade */
@media (max-width: 768px) {
  .container {
    padding: 1rem;
  }
} 